@import "styles/settings/__settings";

.metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $color-gray-600;
  list-style: none;
  padding: 0;
  margin: 0 -0.8em;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & > li {
    margin: 0.8em;
  }

  & > li.metadataCategories {
    margin: 1.2em 0.8em;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}

.metadataAuthor {
  a {
    margin-left: 0.2em;
  }

  address {
    display: flex;
    align-items: center;
    font-style: normal;
  }

  img {
    width: 1.4em;
    height: auto;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

.metadataCategories {
  position: absolute;
  top: 0;
  margin: 1.2em 0.8em;
  padding: 1em 5em 5em 1em;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: red;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-50%, -50%);
  }
  li {
    display: inline-block;

    &:after {
      content: ", ";
      margin-right: 0.4em;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.metadataSticky {
  font-size: 1.15em;
  color: $color-gray-300;
}
